{% extends 'base.html' %}
{% load static %}
{% block title %}End of Registration{% endblock %}
{% block body %}

    <form method="post">
        {% csrf_token %}
        <div>
            <div class="add">
                <button class="btn btn-primary" type="submit" name="addFilm">Добавить</button>
            </div>
            <div class="out">
                <button class="btn btn-primary" type="submit" name="logout">Выйти</button>
            </div>
        </div>
    </form>
    <div class="films_list">
        {% if films != 0 %}
            {% for film in films %}
                {% include 'current_film.html' with element=film %}
            {% endfor %}
        {% endif %}
    </div>
    <div id="loading_ind" style="text-align: center"></div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        function LoadContent(page_number) {
            csrf_token = "{{ csrf_token }}";
            $.ajax({
                url: "infinite_scroll/",
                type: "POST",
                data: {
                    message: 'correct'
                }, //'action=infinite_scroll&page_number=' + page_number,
                headers: {'X-CSRFToken': csrf_token},
                success: function (json) {
                    console.log('fuck fuck');
                    document.getElementById("loading_ind").textContent = json.fuck;
                    //$("#pag_container").append(response);
                },
                error: function (response) {
                    console.log("not fuck");
                    //$("#pag_container").append("an error occured, try again");
                }
            });
        }

        var page_number = 1;

        $(window).scroll(
            function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    document.getElementById("loading_ind").textContent = 'Загрузка...';
                    console.log("End of page reached!");
                    //Подгрузка новых элементов
                    if (page_number) {
                        console.log("fuck");
                        LoadContent(page_number);
                        page_number++;
                    }
                    else {
                        console.log("you");
                        LoadContent(page_number);
                        //document.getElementById("loading_ind").textContent = 'конец списка';
                    }
                }
            });

        //$(document).ready(
          //  function () {
            //    document.getElementById("loading_ind").textContent = 'Загрузка...';
              //  LoadContent(page_number);
                //page_number++;
            //});
    </script>

{% endblock %}