{% extends 'base.html' %}
{% load static %}
{% block title %}Films list{% endblock %}
{% block body %}

    {% if username %}
        <div class="add">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    name="add_film">Добавить Фильм
            </button>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% if username %}
            <div>
                <div class="out">
                    <button class="btn btn-primary" type="submit" name="logout">Выйти</button>
                </div>
            </div>
        {% endif %}
        {% if not username %}
            <div>
                <div class="out">
                    <button class="btn btn-primary" type="submit" name="logout">Войти</button>
                </div>
            </div>
        {% endif %}
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление фильма</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="AddFilmForm" method="post" enctype="multipart/form-data" novalidate>
                    <div class="modal-body" style="width: 85%; padding: 15px">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <label>Описание:</label>
                        <textarea name="description" type="text" class="form-control" id="exampleInputEmail1"
                                  aria-describedby="emailHelp" placeholder="Описание фильма"
                                  style="height: 100px"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button id="AddFilmFormButton" type="submit" class="btn btn-primary">Добавить</button>
                        <div id="probka"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="film"></div>

    <div id="loading_ind" style="float: left; margin-left: 200px"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
        var page_number = 1;

        function LoadContent(page_number) {
            csrf_token = "{{ csrf_token }}";
            $.ajax({
                url: '{% url 'infinite_scroll' %}',
                type: "POST",
                data: {
                    page_number: page_number,
                    action: 'infinite_scroll',
                    amount_pages: {{ pages }}
                },
                headers: {'X-CSRFToken': csrf_token},
                success: function (response) {
                    console.log('in success');
                    console.log(response);
                    $('#film').append(response);
                },
                error: function (response) {
                    console.log("error");
                    console.log(response);
                }
            });
        }

        $(window).scroll(
            function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    document.getElementById("loading_ind").textContent = 'Загрузка...';
                    console.log("End of page reached!");
                    if (page_number <= {{ pages }}) {
                        console.log("подгружаем...");
                        LoadContent(page_number);
                        page_number++;
                    }
                    else {
                        console.log("end");
                        document.getElementById("loading_ind").textContent = 'Конец списка';
                    }
                }
            });

        $(document).ready(
            function () {
                LoadContent(page_number);
                page_number++;
            });
    </script>

{% endblock %}